 /* Estilo personalizado para o carrossel */
 .carousel-item img {
    height: 400px; /* Altura fixa para o carrossel */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}

/* Espaçamento para o conteúdo não ficar sob a navbar fixa */
body {
    padding-top: 56px; /* Altura da navbar fixa */
}

/* Rodapé não fixo */
footer {
    position: static; /* Remove o fixed-bottom */
    margin-top: 2rem; /* Adiciona margem superior */
}